* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Verdana', sans-serif;
    overflow: hidden;
}
.content-wrapper {
    background-image: url(../img/background.jpg);
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.header {
    min-height: 56px;
    background-color: rgba(0,0,0,0.4);
}
.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;    
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;
}
.logo-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    -webkit-transition: color 0.4s linear;
       -moz-transition: color 0.4s linear;
        -ms-transition: color 0.4s linear;
         -o-transition: color 0.4s linear;
            transition: color 0.4s linear;
}
.logo-link:hover {
    color: #3cb878;
}
.site-navigation {
    float: right;
}
.navigation {
    float: left;
}
.nav-item {
    display: inline-block;
    padding: 18px 14px;
}
.sprite {
    background-image: url(../img/sprites/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-icon_caledar {
    width: 19px;
    height: 19px;
    background-position: -35px -35px;
}
.sprite-icon_caledar:hover {
    background-position: -5px -5px;
}
.sprite-icon_forum {
    width: 28px;
    height: 20px;
    background-position: -72px -5px;
}
.sprite-icon_forum:hover {
    background-position: -34px -5px;
}
.sprite-icon_journey {
    width: 20px;
    height: 20px;
    background-position: -64px -35px;
}
.sprite-icon_journey:hover {
    background-position: -5px -35px;
}
.welcome {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    margin-left: 36px;  
}
.main-page {
    width: 100%;
    height: calc(100vh - 56px);
    position: relative;
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    text-align: center;
}
.modal-wrapper:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}
.modal {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    max-width: 444px;
    background: #fff;
    padding: 30px 60px;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    position: relative;
} 
.modal:before {
    position: absolute;
    content: "";
    background-image: url(../img/shape.png);
    width: 18px;
    height: 18px;
    display: block; 
    left: 0px;
    top: 35px;
}
.sign-up {
    margin-bottom: 30px;
}
.sign-up-header {
    margin-bottom: 10px;
}
.sign-up-title {
    color: #434343;    
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    float: left;
}
.log-in {
    background: none;
    border: none;
    float: right;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    padding-top: 6px;
    border-bottom: 1px solid transparent;
}
.green-text {
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.green-text:hover {
    border-bottom-color: rgba(60,184,120,0.4);
}
.button-social {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    width: 157px;
    height: 46px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 46px;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.social-network-icon {
    font-size: 18px;
    border-right: 1px solid rgba(0,0,0,0.1);
    float: left;
}
.fb-btn {
    background-color: #305db8;
    margin-right: 4px;
}
.fb-btn:hover {
    background-color: #264b96;
}
.google-btn {
    background-color: #df4a32;
}
.google-btn:hover {
    background-color: #c3412c;
}
.fb-icon {
    padding: 4px 17px 4px 20px;
    margin: 10px 18px 10px 0;
}
.google-icon {
    padding: 6px 9px 6px 13px;
    margin: 8px 24px 8px 0;
}
.social-network {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
}
.or-line {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}
.line {
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
    text-shadow: none;
    border: none;
    position: absolute;
    top: 50%;
    margin: 0;
}
.or {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 0 18px;
    background-color: #FFF;
    position: relative;
}
.text-input {
    width: 100%;
    height: 46px;
    padding-left: 19px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 5px 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.text-input::placeholder {
    color: #bebebe;
}
.text-input:focus {
    top: -7px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.checkbox-wrapper {
    margin: 13px 0 25px;
}
.checkbox {
    margin-right: 10px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #eaeaea;
}
.checkbox:checked + .checkbox-label:before {
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox-label {
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}
.checkbox-label:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.submit {
    padding: 17px 100px;
    width: 100%;
    background-color: #3cb878;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    border: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.submit:hover {
    background-color: #329a65;
}