body {
	font-family: 'Verdana';
	color: #FFF;
	background-image: url(../image/background.png);
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.container {
	width: 1064px;
	margin: 0 auto;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
	width: 100%;
}
header {
	margin-top: 49px;
	margin-bottom: 48px;
}
.logo {
	float: left;
}
.contacts {
	float: right;
	text-align: right;
	margin-top: 8px;
}
.logo__link {
	text-decoration: none;
	color: #FFF;
	position: relative;
	display: inline-block;
}
.logo__link:before {
	content: url('../image/logo.png');
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
}
.logo__link:after {
	content: url('../image/logo-hover.png');
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.logo__link:hover {
	color: #f26522;
}
.logo__link:hover:before {
	opacity: 0;
}
.logo__link:hover:after {
	opacity: 1;
}
.logo__link_name1st {
	padding-left: 61px;
	float: left;
	clear: left;
	font-size: 29px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	}
.logo__link_name2nd{
	padding-left: 61px;
	float: left;
	clear: left;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.contacts__mail {
	margin-bottom: 5px;
}
.cards {
	margin: 0 -35px;
}
.cards__item {
	float: left;
	width: calc(33.3333% - 70px);
	margin: 0 35px 58px;
}
.cards__item_link {
	text-decoration: none;
	color: #ffffff;
}
.cards__item_link:hover .cards__item_link_image_more-info {
	bottom: 0;
}
.cards__item_link:hover .cards__item_link_title {
	color: #f26522;
}
.cards__item_link_title {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 22px;
}
.copyright {
	text-align: center;
	margin: 61px 0 20px;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
}
.cards__item_link_image {
	position: relative;
	overflow: hidden;
	box-shadow: 0 17px 24px #000000;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0);
}
.cards__item_link_image_item {
	padding: 2px;
}
.cards__item_link_image_more-info {
	height: 63px;
	background: #f26522;
	padding: 16px 18px 17px 21px;
	width: 100%;
	position: absolute;
	bottom: -63px;
	left: 0;
	-webkit-transition: all 0.5s linear;
	   -moz-transition: all 0.5s linear;
	    -ms-transition: all 0.5s linear;
	     -o-transition: all 0.5s linear;
	        transition: all 0.5s linear;
}
.cards__item_link_image_more-info_from {
	font-size: 10px;
	font-weight: 400;
	float: left;
	padding-bottom: 5px;
}
.cards__item_link_image_more-info_price {
	font-size: 20px;
	font-weight: 400;
	float: left;
	clear: left;
}
.cards__item_link_image_more-info_more {
	font-size: 14px;
	font-weight: 400;
	float: right;
	padding-top: 5px;
	
}
.cards__item_link_image_more-info_more:after {
	content: ">";
	padding-left: 15px;
	color: #f9b290;
}