* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Myriad Pro';
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
header {
	margin-top: 60px;
	margin-bottom: 50px;
}
.logo {
	font-size: 80px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	margin-bottom: 45px;	
}
.logo span {
	color: #00cbff;
}
.top_horizontal_menu {
	height: 70px;
	background-color: #35444f;
	text-align: center;
}
.top_horizontal_menu li {
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}
.top_horizontal_menu li:hover {
	background-color: #222f3a;
	border-right-color: #828282;
	border-left-color: #828282;
}
.top_horizontal_menu li a {
	display: inline-block;
	color: #FFF;
	padding: 23px 42px;
	text-decoration: none;
}
.left_menu {
	width: 345px;
	border: 1px solid black;
	float: left;
}
.left_vertical_menu {
	font-size: 27px;
	font-weight: 400;	
}
.left_vertical_menu li {
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
.left_vertical_menu li:hover {
	background-color: #dbdbdb;
}
.left_vertical_menu li:hover a {
	color: #000000;
	padding-left: 70px;
}
.left_vertical_menu a {
	padding: 30px 0 30px 45px;
	display: block;
	text-decoration: none;
	color: #495863;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
.content {
	float: right;
	width: 885px;
	margin-bottom: 20px;	
}
.clear {
	clear: both;
}
.image {
	height: 530px;
	border: 1px solid black;
	margin-bottom: 50px;
	text-align: center;
}
.image img {
	margin: 75px 0;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
.image img:hover{
 	-webkit-transform: scale(1.1);
 	   -moz-transform: scale(1.1);
 	    -ms-transform: scale(1.1);
 	     -o-transform: scale(1.1);
 	        transform: scale(1.1);
 }
.text {
	color: #2c2c2c;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
	width: 815px;
	margin: 0 auto;
}
.text p {
	margin-bottom: 30px;
}
footer {
	height: 70px;
	background: #b4b7ba;
	margin-bottom: 30px;
}
.bottom_horizontal_menu {
	float: left;
}
.bottom_horizontal_menu ul {
	padding: 21px 0 21px 45px;
}
.bottom_horizontal_menu li {
	display: inline-block;
	margin-right: 15px;
}
.bottom_horizontal_menu li:hover {
	border-bottom: 1px solid #0082a9;
}
.bottom_horizontal_menu li:hover a {
	color: #0082A9;	
}
.bottom_horizontal_menu li a {
	text-decoration: none;
	color: #010101;
	font-size: 28px;
	font-weight: 400;
}
.copyright {
	float: right;
	padding: 21px 35px 21px 0px;
	color: #010101;
	font-size: 24px;
	font-weight: 400;
}