.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	
}

.table {
	background-color: #3e3e3e;
	margin: 15px 0;
	border-collapse: separate;
	border-spacing: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.white {
	background-color: #f3f3f3;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #0d7fbe;
}

.yellow {
	background-color: #fae317;
}

.red {
	background-color: #f50f0f;
}

.null {
	width: 20px;
	height: 0px;
}

.zero {
	width: 0px;
	height: 20px;
}

.none {
	width: 0;
	height: 0;
}