* {
	margin: 0;
	padding: 0;
}

.blue {
	background: lightblue;
}

.list {
	text-align: center;
}

.list-item {
	display: inline-block;
	margin: 32px 35px 35px;
}

.list-item-link {
	color: #16a085;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	text-decoration: none;
}

.list-item-link:hover {
	text-decoration: underline;
}

.main {
	background: #f5f6f7;
	color: #373737;
	font-weight: 900;
	text-align: center;
}

.image-wrapper {
	background-image: url('img/butterflyes.jpg');
	background-repeat: no-repeat;
	height: 700px;
	width: 100%;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.header {
	font-size: 22px;
	text-transform: uppercase;
	margin: 55px 0 35px;
}
.paragraph {
	font-size: 16px;
	margin-bottom: 40px;
	line-height: 25px;
	padding: 0 110px;
}
.main-link {
	display: inline-block;
	padding: 20px 45px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background: #16a085;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	text-decoration: none;
	margin-bottom: 95px;
	text-align: center;
}
.footer-paragraph {
	margin: 45px 105px 45px 0;
	font-size: 16px;
	font-weight: 900;
	color: #373737;
	text-align: right;
}

.theme-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	border: none;
	cursor: pointer;
	font-size: 12px;
	padding: 5px;
	background: lightblue;
}

.light-theme-btn {
	border: 1px solid #000;
	background: #fff;
	color: #000;
}