.table-page {
	background-color: #3a4965;
	font-family: 'Arimo', sans-serif;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.price-table {
	color: #484848;
	background-color: #fafafa;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-collapse: collapse;
	margin: 25px 0;
	text-align: center;
}
.table-row {
	border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}
.table-row:last-child {
	border-bottom: none;
}
.table-head {
	width: 198px;
	color: #ffffff;
	vertical-align: middle;
	border-collapse: collapse;
}
.white-background {
	background-color: #fafafa;
}
.choose-your {
	color: #484848;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
}
.pricing-plan {
	color: #484848;
	font-size: 20px;
	font-weight: 700;
}
.table-data_service {
	padding: 32px 5px;
	vertical-align: middle;
	max-width: 157px;
	border-collapse: collapse;
}
.table-data_service:nth-child(2n-1) {
	background-color: #f2f2f2;
}
.table-data_service:nth-child(2n) {
	background-color: #e3e3e3;
}
.service-icon {
	color: #848484;
	font-size: 24px;
}
.service {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
}
.plan-type-standard {
	background-color: #89c331;
}
.plan-type-ultimate {
	background-color: #f04a56;
}
.plan-type-premium {
	background-color: #20807c;
}
.plan-type {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 22px;
}
.price-dollars {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}
.price-cent {
	font-size: 18px;
	font-weight: 700;
	vertical-align: super;
	position: relative;
	top: 0px;
	left: 0;
}
.price-per-month {
	font-size: 14px;
	font-weight: 700;
	vertical-align: sub;
	position: relative;
	display: inline-block;
	top: -13px;
	left: 7px;
}
.table-button {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 144px;
	padding: 15px 0 8px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	border: none;
	text-transform: uppercase;
	background-color: #484848;
	border-bottom: 5px solid #404040;
	border-top: 0px solid #404040;
	cursor: pointer;
	-webkit-transition: all .1s ease-in;
	   -moz-transition: all .1s ease-in;
	    -ms-transition: all .1s ease-in;
	     -o-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.table-button:hover {
	background-color: #404040;
	border-top-color: #363536;
	border-bottom-color: #363536;
}
.table-button:active {
	border-top-color: #363536;
	border-bottom-color: #363536;
	background-color: #404040;
	border-top-width: 5px;
	border-bottom-width: 0;
}
.table-data {
	vertical-align: middle;
	width: 157px;
	border-collapse: collapse;
	padding: 65px 5px;
	line-height: 24px;
}
.table-data:nth-child(2n-1) {
	background-color: #f2f2f2;
}
.table-data:nth-child(2n) {
	background-color: #e3e3e3;
}