.table-page {
	background-color: #3a4965;
	height: 100%;
	font-family: 'Arimo', sans-serif;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.price-table {
	color: #484848;
	background-color: #fafafa;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-collapse: collapse;
	margin: 25px 0;
	text-align: center;
}
.table-head {
	vertical-align: middle;
	border-left: 3px solid rgba(0, 0, 0, 0.05);
	border-collapse: collapse;
}
.table-head:first-child {
	border-left: none;
}
.table-data {
	width: 310px;
	vertical-align: middle;
	border-left: 3px solid rgba(0, 0, 0, 0.05);
	border-collapse: collapse;
	padding: 28px 5px;
}
.table-data:first-child {
	border-left: none;
}
.choose-your {
	color: #484848;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
}
.pricing-plan {
	color: #484848;
	font-size: 30px;
	font-weight: 700;
}
.plan-type {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	padding: 27px 0 25px;
}
.standard {
	background-color: #89c331;
}
.plan-type-ultimate {
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	padding: 28px 0 21px;
	background-color: #f04a56;
}
.premium {
	background-color: #20807c;
}
.price-dollars {
	color: #484848;
	font-size: 60px;
	font-weight: 700;
	padding: 18px 0;
}
.price-cent {
	color: #484848;
	font-size: 24px;
	font-weight: 700;
	vertical-align: super;
	position: relative;
	top: -4px;
}
.price-per-month {
	font-size: 18px;
	font-weight: 400;
	vertical-align: sub;
	position: relative;
	display: inline-block;
	top: -15px;
	left: -30px;
}
.light-background{
	background-color: #f2f2f2;
}
.service-icon {
	color: #848484;
}
.service {
	margin-left: 12px;
}
.dark-background {
	background-color: #e3e3e3;
}
.dark-grey-background {
	background-color: #ddd;
}
.light-grey-background {
	background-color: #EEE;
}
.white-background {
	background-color: #F4F4F4;
}
.table-button {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	width: 192px;
	padding: 18px 0 11px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	border: none;
	text-transform: uppercase;
	-webkit-transition: all .1s ease-in;
	   -moz-transition: all .1s ease-in;
	    -ms-transition: all .1s ease-in;
	     -o-transition: all .1s ease-in;
	        transition: all .1s ease-in;
	} 
.black-button {
	background-color: #484848;
	border-bottom: 7px solid #404040;
	border-top: 0px solid #404040;
	cursor: pointer;
}
.black-button:hover {
	background-color: #404040;
	border-top-color: #363536;
	border-bottom-color: #363536;
}
.black-button:active {
	border-top-color: #363536;
	border-bottom-color: #363536;
	background-color: #404040;
	border-top-width: 7px;
	border-bottom-width: 0;
}
.green-button {
	background-color: #89c331;
	border-bottom: 7px solid #79b027;
	border-top: 0px solid #79b027;
	cursor: pointer;
}
.green-button:hover {
	background-color: #79b027;
	border-bottom-color: #689426;
	border-top-color: #689426;
}
.green-button:active {
	border-bottom: 0px solid #689426;
	border-top: 7px solid #689426;
	background-color: #79b027;
}
.red-button {
	background-color: #f04a56;
	border-bottom: 7px solid #df3a46;
	border-top: 0px solid;
}
.red-button:hover {
	background-color: #df3a46;
	border-bottom-color: #BF343D;
	border-top-color: #BF343D;
}
.red-button:active {
	background-color: #df3a46;
	border-bottom: 0px solid #BF343D;
	border-top: 7px solid #BF343D;
}
.blue-button {
	background-color: #20807c;
	border-bottom: 7px solid #16736f;
	border-top: 0px solid #16736f;
}
.blue-button:hover {
	background-color: #16736f;
	border-bottom-color: #1A5E5B;
	border-top-color: #1A5E5B;
}
.blue-button:active {
	background-color: #16736F;
	border-bottom: 0px solid #1A5E5B;
	border-top: 7px solid #1A5E5B;
}